@media (max-width: 500px) and (orientation: portrait)
{
  html {
    font-size: 7px;
  }

  header a span{
    font-size: 2rem;
  }

}

@media (max-width: 400px) and (orientation: portrait)
{
  html {
    font-size: 6px;
  }

  header a span{
    font-size: 2rem;
  }

}

@media (max-height: 450px) and (orientation: landscape)
{
  html {
    font-size: 8px;
  }

  header a span{
    font-size: 2rem;
  }

}
