/*Body*/
body {
  background-color: #FFFFFF;
}

/*Header*/
header {
  height: 6rem;
  width: 100%;
  position:fixed;
  z-index: 1;
}

header a span {
  color: #56BD30;
  font-family: PTSans, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  margin-right: 2rem;
}

header a:hover {
  color: #56BD30;
}

header div {
  float:right;
  text-align: center;
}

header div div {
  margin-top: 2rem;
  margin-right: 3rem;
}

/*Main*/
main {
  overflow-x: hidden;
}

.div-background-img {
  background-image: url(../assets/background.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
  /* calc(100vh - 60px); */
}

.div-background-img .container, .div-background-img .container .row{
  height: 100%;
  color:#F5FFD9;
  text-align: center;
}

h1 {
  font-size: 4rem;
  font-family: PTSans, sans-serif;
  font-weight: bold;
  position: relative;
  vertical-align: middle;
}

h1 small {
  font-size: 3rem;
}

h2, h1 span {
  font-family: Raleway, sans-serif;
  font-weight: 900;
  font-size: 5rem;
}

h3 {
  font-family: Raleway, sans-serif;
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 0;
}

/*Projects*/
.container.project {
  height: 100vh;
}

.row {
  height: 100%;
  position: relative;
}

.card {
  color: black;
}

.card h2 {
  color: black;
  margin-bottom: 1.75rem;
}

.card p {
  font-size: 1.5rem;
  font-family: PT Sans, sans-serif;
  font-weight: 400;
  margin-left: 0.125rem;
  margin-bottom: 4.5rem;
}

.card a {
  font-size: 1.5rem;
  font-family: PT Sans, sans-serif;
  font-weight: bold;
  background-color: #56BD30;
  margin-top: calc(0.75rem + 4.5rem);
  border-radius: 0.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-left: 0.125rem;
  color: white;
}

/* Roomoto */

.roomoto-date {
  position: relative;
  right: 45%;
  transform: rotate(270deg);
}

.roomoto-image{
  width: 85%;
  margin-right: 2rem;
  float:right;
}

/* Mindlence */

.mindlence-date {
  position: absolute;
  top: 70%;
  left: 75%;
  transform: rotate(290deg);
}

.mindlence-image {
  width: 100%;
  margin-top: 3rem;
}

/* ABC-market */

.abc-date {
  margin-left: 1.2rem;
  margin-bottom: 1rem;
}

.abc-image {
  width: 100%;
  margin-right: 2rem;
  float:right;
}

/* Me */

.div-me {
  background-color: #FFF4DB;
}

.me-image {
  width: 100%;
  margin-top: 3rem;
}
