/* @media (max-height: 1024px) and (orientation: portrait) { */
@media (orientation: portrait)
{
  html{
    font-size: 12px;
  }
  .div-background-img {
    height: 50vh;
  }
  .container.project {
    height: 50vh;
  }
}
